<%- include('partials/head') %>

<ul>
    <% productos.forEach(producto => {  %>
        <li>
            <h2><%=producto.nombre%></h2>
            <p><%=producto.descripcion%></p>
            <p><%=producto.precio%></p>
            <p><%=producto.categoria%></p>
            <p><%=producto.stock%></p>
            <p><%=producto.imagen%></p>
        </li>
        <% }) %>
</ul>

<%- include('partials/footer') %>

